<div class="main-container">
  <div class="container">
    <div class="left-container">
      <div class="users">

        <h2>User Details</h2>
        <table>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
          </tr>
          <tr *ngFor="let item of userDetails; let i=index" (click)="onSelectUser(item.id)">
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.city}}</td>
          </tr>

        </table>


      </div>
    </div>
    <div class="right-container">
      <div class="user-details"></div>
      <table>
        <tr *ngFor="let user of selectedUser">
          <td>
            {{user.label}}
          </td>
          <td>
            {{user.value}}
          </td>
        </tr>
        <span>Suggetions :</span>
        <tr *ngFor="let user of selectedUser">
          <td>
            Name
          </td>
          <td>
            Age
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
